<h2>Payment History</h2>
<a href="{% url 'add_ledger_entry' %}">Add Payment</a>
<table>
  <tr>
    <th>Subscriber</th>
    <th>Date Paid</th>
    <th>Amount</th>
    <th>Remarks</th>
    <th>Water Bill</th>
  </tr>
  {% for entry in ledgers %}
  <tr>
    <td>{{ entry.subscriber.name }}</td>
    <td>{{ entry.date_paid }}</td>
    <td>{{ entry.amount_paid }}</td>
    <td>{{ entry.remarks }}</td>
    <td>
      {% if entry.water_bill %}
        {{ entry.water_bill.billing_month }}
      {% else %}
        N/A
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
